/* Should be able to use css variables from index.jss */

#app-container {
	display: grid;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
}

#app-header,
#app-footer {
	background-color: var(--save-btn-clr);
	padding: 8px;
	text-align: center;
}
#app-main {
	background-color: var(--main-bg-clr);
	display: flex;
	padding: 16px 24px;
	column-gap: 12px;
	justify-content: space-between;
}

.footer-nav {
	margin-top: 8px;
}
