.edit-section {
	padding: 12px 16px;
	background-color: var(--edit-section-clr);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.edit-section button {
	border-radius: var(--border-radius);
	display: flex;
	align-items: center;
}

.edit-section header {
	display: flex;
	justify-content: space-between;
	column-gap: 8px;
}

.edit-panel {
	flex: 0 1 40%;
	height: min-content;
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

.edit-sidebar {
	gap: 8px;
}
.sidebar-btn {
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
	padding: 12px;
}

.sidebar-btn.active-btn {
	background-color: var(--clr-light-blue);
	color: white;
}

.edit-section header {
	display: flex;
	align-items: center;
}
.edit-section-body {
	margin-top: 8px;
}

.drop-down-btn {
	font-size: 16px;
	border: 2px solid var(--clr-emerald);
	color: var(--clr-emerald);
	font-weight: 700;
	padding: 12px;
}
.drop-down-btn:hover {
	background-color: var(--clr-emerald);
	color: white;
}

.edit-section h2 {
	margin-bottom: 4px;
}

.form-section {
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.resume-actions {
	width: fit-content;
}

.action-btns-container {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.action-btns-container button {
	padding: 8px 12px;
	font-weight: 700;
	gap: 24px;
	font-size: 16px;
}

.open-form-btn-container {
	display: flex;
	justify-content: center;
}
.open-form-btn {
	border-radius: var(--border-radius);
	padding: 12px 16px;
}

/* Media queries 

.edit-panel: Allows the sidebar to stack on top of form content, and 
	also we make the spacing more uniform

.edit-sidebar,
.form-section,
.resume-actions: Gives these sections 100% of the width of the flex-box
	which allows for the content to nicely fit inside of it. 

.resume-actions header,
.resume-actions button: For centering text.

*/

@media screen and (max-width: 1000px) {
	.edit-panel {
		flex-direction: column;
		row-gap: 1em;
	}

	.edit-sidebar,
	.form-section,
	.resume-actions {
		width: 100%;
	}

	.resume-actions header,
	.resume-actions button {
		justify-content: center;
	}
}
