.edit-section {
	padding: 12px 16px;
	background-color: var(--edit-section-clr);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: var(--border-radius);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.edit-section button {
	background-color: var(--main-btn-clr);
	border-radius: var(--border-radius);
	padding: 12px;
}

.edit-section header {
	display: flex;
	justify-content: space-between;
}

.edit-panel {
	width: 40%;
	height: min-content;
	display: flex;
	align-items: flex-start;
	gap: 24px;
}

.sidebar-btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
	font-weight: 700;
}

.sidebar-btn.active-btn {
	background-color: var(--clr-light-blue);
	color: white;
}

.edit-section h2 {
	margin-bottom: 4px;
}

.form-section {
	width: 65%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.resume-actions {
	width: fit-content;
}

.action-btns-container {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.action-btns-container button {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	font-weight: 700;
	gap: 24px;
	font-size: 16px;
}
