.input-group {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.label-text {
	font-size: 18px;
	font-weight: 500;
}

.form-fields {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.input-group input {
	background-color: var(--main-bg-clr);
	border-radius: 12px;
	padding: 10px;
	border: 2px solid transparent;
	outline: none;
	transition: var(--transition);
}
.input-group input:focus {
	border-color: var(--focus-input-clr);
}

.form-btn-container {
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
	column-gap: 1.5em;
}
.form-btn-container button {
	font-size: 16px;
	font-weight: 700;
	padding: 12px 16px;
}
.form-btn-container div {
	display: flex;
	column-gap: 12px;
}

.delete-btn {
	border: 2px solid var(--delete-btn-clr);
	color: var(--delete-btn-clr);
}
.delete-btn:hover {
	background-color: var(--delete-btn-clr);
	color: white;
}

.cancel-btn {
	border: 2px solid var(--cancel-btn-clr);
}
.cancel-btn:hover {
	background-color: var(--cancel-btn-clr);
	color: white;
}

.save-btn {
	border: 2px solid var(--save-btn-clr);
}
.save-btn:hover {
	background-color: var(--save-btn-clr);
	color: white;
}

.btn-hidden {
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
}

@media screen and (max-width: 600px) {
	/*
	- Makes the buttons on the form more responsive for smaller screens.
	*/
	.form-btn-container,
	.form-btn-container div {
		flex-direction: column-reverse;
		row-gap: 0.5em;
	}
	.form-btn-container button {
		justify-content: center;
	}

	/* 
	- Before when our delete button had btn-hidden we 
	made it invisible since we wanted the blank space for layout purposes. However once we're 
	at 600px or lower, we make it so btn-hidden just removes 
	the delete button from the layout. As a result our layout 
	just looks better since it doesn't have extra blank space.
	
	*/
	.form-btn-container .btn-hidden {
		display: none;
	}
}
