.resume {
	flex: 1 1 60%;
	display: grid;
	grid-template-rows: auto 1fr;
	box-shadow: var(--box-shadow);

	/*
	- Now resume can't shrink below 400px which is good since 
		anything lower than that makes the resume just look bad.
	*/
	min-width: 400px;
}

/* Styling resume header */
.personal-details {
	padding: 2em 1em;
	background-color: var(--clr-dark-indigo);
	color: white;
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 1.25em;
}
.resume-name {
	font-size: 2em;
}

.resume-contact-info {
	display: flex;
	justify-content: center;
	gap: 18px;
	flex-wrap: wrap;
}

.contact-section {
	display: flex;
	align-items: center;
	column-gap: 0.5em;
}

/* Styling resume body */
.resume-body {
	display: flex;
	flex-direction: column;
	padding: 1em 0;
	background-color: var(--edit-section-clr);
	padding-top: 2em;
	row-gap: 2em;
}

.resume-section {
	width: 80%;
	margin: 0 auto;
}

/* Styling resume-section  */
.resume-section-header {
	text-align: center;
	font-weight: 700;
	font-size: 22px;
	background-color: var(--resume-section-header-clr);
	color: var(--clr-dark-indigo);
	padding: 4px 0;
}
.resume .institution-name {
	font-weight: 700;
}
.resume-info-list {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	margin-top: 12px;
}

/* Styling the education section */

.resume-info-item {
	display: flex;
	gap: 16px;
}

.resume-info-group {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
}

.resume-info-group-minor {
	flex: 0 0 25%;
	min-width: 25%;
}

.resume-info-group-major {
	flex: 1;
}
