.sidebar-list {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
	margin: 8px 0;
}
.sidebar-list-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid var(--clr-light-teal);
	border-radius: var(--border-radius);
	padding: 12px 16px;
	transition: var(--transition);
}

.sidebar-list .visibility-icon {
	transition: var(--transition);
}

.sidebar-list-item .sidebar-item-title {
	flex: 0 0 50%;
	font-weight: 600;
	font-size: 14px;
}

.sidebar-list-item .btn-container {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.edit-item-btn {
	border: 2px solid var(--clr-light-teal);
	color: black;
	padding: 8px 16px;
	font-weight: 700;
}
.edit-item-btn:hover {
	background: var(--clr-light-teal);
	color: white;
}

.sidebar-list-item .toggle-visibility-btn {
	background: transparent;
	border-radius: 0;
	border-bottom: 2px solid transparent;
	transition: var(--transition);
}
.sidebar-list-item .toggle-visibility-btn:hover {
	border-color: black;
}
