*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul,
li,
ol {
	list-style: none;
}

img,
picture,
video {
	max-width: 100%;
}

.content-hidden {
	height: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	--edit-section-clr: rgba(255, 255, 255, 0.87);
	--main-bg-clr: #f3f4f6;

	--main-btn-clr: #f5f5f5;

	--focus-input-clr: #3b83f6;
	--focus-btn-clr: black;

	/* Define some css variables for some common colors that we'll use */
	--clr-dark-slate: #334155;
	--clr-dark-gray: #111827;
	--clr-emerald: #10b981;
	--clr-light-teal: #5eead4;
	--clr-light-blue: #38bdf8;
	--clr-dark-indigo: #0e374e;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--transition: all 0.25s ease-in-out;
	--letter-spacing: 4px;
	--border-radius: 6px;
}

body {
	min-width: 320px;
	min-height: 100vh;
}

img,
picture,
video {
	max-width: 100%;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: none;
	cursor: pointer;
	transition: var(--transition);
}

.button-shrink {
	transition: all 0.1s ease-in-out;
}

.button-shrink:active {
	transform: scale(0.9);
}

.link-icon {
	width: 25px;
}
